* {
    padding: 5px;
}

/* QUESTION 1
Show an alert box on click on a link. */

a {
    text-decoration: none;
}

/* QUESTION 2 
Display some Mobile images in browser. On click on an
image Show the message in alert to user.  */

.mobileImages {
    border: 2px solid rgb(49, 112, 144);
}

/* QUESTION 3
Display 10 student records in table and each row should contain a delete
button. If you click on a button to delete a record, entire row should be
deleted.  */

table tr {
    border: 1px solid black;
}

table th {
    border: 1px solid black;
}

table td {
    border: 1px solid black;
}


/* QUESTION 4
Display an image in browser. Change the picture on mouseover and set the
first picture on mouseout.
 */

/* QUESTION 5
Show a counter in browser. Counter should increase on click on increase
button and decrease on click on decrease button. And show updated counter
value in browser. */

.counter{
    font-family: 'Segoe UI', sans-serif;
    font-size: 36px;
    text-align: center;
}
button{
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 10px !important;
    background-color: rgba(78, 12, 119, 0.687);
    color: white;
}
.increase:hover{
    background-color: green;
    color: white;
}
.decrease:hover{
    background-color: red;
    color: white;
}